body {
    background-color: #a3a3a3;
    /** body에 배경이미지 적용 */
    background-image: url("../static/images/pattern.png");
    /** 고정된 사이즈로 설정 */
    background-size: 100px;
  
    /** 기본 body 사이즈를 화면 크기로 고정 */
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  
  .bookcover {
    /** 배경 색깔 지정  */
    background-color: #b4d1da;
    /** 모서리 둥글게 */
    border-radius: 9px;
    /** 윤곽선 */
    border: 1px solid #738186;
  
    /** 기본 너비, 높이 지정 (반응형 X) */
    width: 960px;
    height: 660px;
  
    /** 좌우 마진을 auto(중앙에 배치), 상하 마진을 100px로 지정 */
    margin: 100px auto;
  
    /** .bookdot 요소에서 absolute 속성값을 이용하기 위해 position: relative 로 설정 */
    position: relative;
  }
  
  .bookdot {
  
    border: 2px dashed white;
    border-radius: 9px;
    left: 15px;
    top: 15px;
    right: 15px;
    bottom: 15px;
    position: absolute;
  
  }
  
  .page{
  
    width: 905px;
    height: 605px;
    background-color: #d4d4d4;
    margin: 10px;
    border-radius: 9px;
    position: absolute;
    display: flex;
  
  }
  
  .container1{
  
    flex:0.4;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
  
  }
  
  .item1{
  
    flex: 0.1;
    border: none;
    padding: 5px;
  
  }
  
  .item2{
    
    flex:2;
    border: 2px solid #d4d4d4;
    border-radius: 9px;
    background-color: white;
  
  }
  
  .picture{

    margin: 37px;
    border-radius: 40px;
    background-color: red;
    width: 150px;
    height: 150px;

  }

  .todo {
    margin-left: 50px;
    border-radius: 40px;
    background-color: rgb(104, 35, 35);
    width: 120px;
    height: 120px;
  }

  .music {
    margin-top: 10px;
    margin-left: 50px;
    border-radius: 40px;
    background-color: rgb(204, 105, 105);
    width: 120px;
    height: 30px;
  }
  
  .gogo{

    margin-top: 90px;
    margin-left: 30px;
    border-radius: 40px;
    background-color: rgb(20, 11, 31);
    width: 120px;
    height: 30px;
  }
  .container2{
  
    flex:1;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 15px; 
    margin-bottom: 15px;
  
  }


  
  .item3{
  
    flex:0.1;
    border: none;
    padding: 5px;
  
  }
  
  .ourgit{

    margin-top: 10px;
    margin-left: 30px;
    border-radius: 0px;
    width: 500px;
    height: 130px;
  }
  .a1{
    margin-top: 10px;
    margin-left: 50px;
    border-radius: 40px;
    background-color: rgb(238, 225, 225);
    width: 100px;
    height: 130px;
  }
  .a2{
    margin-top: -700px;
    margin-left: 300px;
    border-radius: 40px;
    background-color: rgb(238, 225, 225);
    width: 100px;
    height: 130px;
    display: inline-block;
  }
  
  
  .ourpicture{

    margin-top: 10px;
    margin-left: 50px;
    border-radius: 40px;
    width: 500px;
    height: 250px;
  
    
  }

  .fisrtcomment{
    /* margin-top: 10px; */
    margin-left: 50px;
    border-radius: 40px;
    width: 500px;
    height: 50px;

  }
  .item4{
    flex:2;
    border: 2px solid #d4d4d4;
    border-radius: 9px;
    background-color: white;
  
  }

  .news-flex-box {
    flex: 0 0 auto;
    margin-bottom: 2rem;
    display: flex;
    font-size: 0.8rem;
  }
  
  .news-box {
    flex: 1;
    margin: -20px;
  }
  
  .update-box {
    flex: 1;
  }
  
  .miniroom {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: -100px;
    margin-left: 30px;
  }
  
  .box-title {
    margin-top: 0px;
    font-family: "KOTRA_BOLD-Bold";
    border-bottom: 1px solid grey;
    color: #3b87ab;
  }
  
  .news-row {
    
    display: flex;
    font-size: 0.85rem;
    margin: 3px 0;
  }
  
  .news-category {
    padding: 0 6px;
    margin-right: 6px;
    color: white;
    border-radius: 3px;
  }
  
  .category-pic {
    
    background-color: #f15f5f;
  }
  
  .category-post {
    background-color: #617dc1;
  }
  
  .menu-row {
    display: flex;
    border-bottom: 1px dashed grey;
    margin: 3px 0;
  }
  
  .menu-item {
    flex: 1;
  }
  
  .menu-num {
    font-family: "NeoDunggeunmo";
    padding-left: 6px;
    color: #003399;
  }
  
  .miniroom-gif-box {
    border: 1px solid #808080;
    flex: 1;
    display: flex;
  }
  
  .container3{
  
    flex: 0.1;
    border: 1px solid grey;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  
  }
  
  .box{
  
    display: inline-block;
    text-align: center;
    font-size: 14px;
  
  }
  
  .tab{
  
    display: inline-block;
    margin-left: 50px;
  
  }

  .updated-news-section {
    margin-bottom: 20px; 
}

.miniroom-section {
  margin-top: -70px; 
  margin-left: -20px;
  
}
.friends-section{
  margin-left: 28px;
  margin-top: -15px;
}
.friends-say{
  margin-top: 0px;
    font-family: "KOTRA_BOLD-Bold";
    border-bottom: 1px solid grey;
    color: #3b87ab;
}
.a0{
  margin-top: -5px;
}
